@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> Error!</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h2 class="text-danger">Please contact application administrator.</h2>

