@model WUFT.NET.ViewModels.QRE.CreateRequestParentViewModel

@{
    ViewBag.Title = "Create";
}

<div class="row">
    @Html.ValidationSummary(true)
    @if (Model.UploadVM != null)
    {
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="intel-panel intel-panel-top-peel ">
                <div class="intel-panel-heading">
                    <h3>Create Unit Flag Request</h3>
                </div>
                <div class="intel-panel-body">
                    @Html.Partial("_Upload", Model.UploadVM)
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="intel-panel intel-panel-top-peel ">
                <div class="intel-panel-heading">
                    <h3>Confirm Unit Flag Request</h3>
                </div>
                <div class="intel-panel-body">
                    @Html.Partial("_Confirm", Model.ConfirmVM)
                </div>
            </div>
        </div>
    }

</div>

<script type="text/javascript">
    //this code will be executed when a new file is selected
    $('#File').bind('change', function () {

        //converts the file size from bytes to MB
        var fileSize = this.files[0].size / 1024 / 1024;

        //gets the full file name including the extension
        var fileName = this.files[0].name;

        //finds where the extension starts
        var dotPosition = fileName.lastIndexOf(".");

        //gets only the extension
        var fileExt = fileName.substring(dotPosition);

        //checks whether the file is valid and less than 10 MB
        if (fileSize <= 10 && (fileExt == ".xls" || fileExt == ".xlsx" || fileExt == ".csv")) {

            //successfully validated
            console.log("validated")
        }
    });
</script>