<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="EmailerConfiguration" type="SharedCodeLibrary.Email.Configuration.EmailerConfiguration, SharedCodeLibrary.Email"/>
  </configSections>

  <EmailerConfiguration>
    <Settings fromAddress="user@intel.com" subjectPrefix="[SUBJECT PREFIX]" bodySuffix="Appended to the bottom of the email" allowAttachments="true" allowHtmlBody="true" />
    <Recipients to="user@intel.com;user@intel.com;user@intel.com" cc="cc@intel.com;cc@intel.com;cc@intel.com" bcc="bcc@intel.com;bcc@intel.com;bcc@intel.com" overrideTo="true" overrideCc="true" overrideBcc="true" />
  </EmailerConfiguration>
</configuration>