@{
    ViewBag.Title = "AccessDenied";
}

<div class="pull-center">
    <h2>You do not have access to perform the requested action.</h2>
    <br />
<!-- Code Update for FS-INC100004650 -->
    <!--<h3>Please request access through <a href="http://eam.intel.com/eamweb/RequestAccess/DisplayTree.aspx" target="_blank">EAM</a> using the following path:</h3>-->
    <h3>Please request access through <a href="https://ags.intel.com/" target="_blank">AGS</a> using the following path:</h3>
    <h3>Access - Submit Requests - For Me | Type Demix or WUFT in Keyword search | Select Appropriate Item | Add to Cart</h3>
    <!--<h3>Enterprise Applications | Logistics ISE Systems | WUFT</h3>-->
</div>
<div class="access-denied">
</div>
