/* Helpers */
.margin-0 { margin: 0; }
.margin-top-0 { margin-top: 0; }
.margin-bottom-0 { margin-bottom: 0; }
.padding-0 { padding: 0; }
.padding-top-0 { padding-top: 0; }
.padding-bottom-0 { padding-bottom: 0; }
.padding-10 { padding: 10px; }
.rounded-corners { border-radius: 3px; }
.site-tooltip { cursor: help; }
.required { color: #ff0000; }
.cursor-pointer { cursor: pointer; }
.cursor-help { cursor: help; }

.text-green { color: #008000; }
.text-red { color: #ff0000; }

table.table-fixed {
    table-layout: fixed;
    width: 100%;
    text-align: left;
}

div.table-content {
  height:150px;
  overflow-y:auto;
  width: 100%;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-align:left;
}

/* Mvc classes */
.field-validation-error { color: #ff0000; }