@{
    ViewBag.Title = "Huh?";
}

<!DOCTYPE html>

<html>
<body>
    <div>
        <h1 class="pull-center">
            <b>
                Nothing to see here... carry on.
            </b>
        </h1>
    </div>
</body>
</html>
