<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="EmailerConfiguration" type="SharedCodeLibrary.Email.Configuration.EmailerConfiguration, SharedCodeLibrary.Email" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WUFT.NET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>

		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
	</configSections>
	<EmailerConfiguration>
		<Settings fromAddress="wuftuser@intel.com" subjectPrefix="" allowAttachments="true" allowHtmlBody="true" />
	</EmailerConfiguration>
	<connectionStrings>
		<!--<add name="WUFTDbContext" connectionString="Data Source=isetsqldev.ch.intel.com;Initial Catalog=WUFT;Integrated Security=True;Connection Timeout = 60;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
		<!--<add name="WUFTDbContext" connectionString="Data Source=sql3035-fm1-in.amr.corp.intel.com,3181;Initial Catalog=WUFT;user id=wuft_so;password=p3g1yJy1aKwQ2U8" />-->
		<add name="WUFTDbContext" connectionString="Data Source=sql2353-or1-in.amr.corp.intel.com,3181;Initial Catalog=WUFT;Integrated Security=True;Connection Timeout = 3600;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--<add key="FileUploadLocation" value="\\isefsp001.amr.corp.intel.com\WUFT\PRODUCTION\" />-->
		<add key="FileUploadLocation" value="\\pgwuft-dm.cps.intel.com\wuft\local\PROD" />
		<add key="BaseURL" value="localhost:17312" />
		<add key="ISESupportURL" value="http://goto.intel.com/isesupportrequest" />
		<!--values are QRE, Operator, None-->
		<add key="TestRole" value="Admin" />
		<add key="SendEmails" value="true" />
		<add key="MaxUploadRows" value="50000" />
		<add key="Glimpse:DisableAsyncSupport" value="true" />
		<add key="emailer:templatePath" value="Views/EmailTemplates" />
	</appSettings>
	<system.web>
		<!--<httpCookies httpOnlyCookies="true" />
    <sessionState mode="InProc" cookieless="true" timeout="60"/>-->
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime maxRequestLength="102400" executionTimeout="3600" targetFramework="4.5.1" />
		<authentication mode="Windows" />
		<roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider" />
		<authorization>
			<allow users="?" />
		</authorization>
		<!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
		<httpModules>
			<add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
		</httpModules>
		<httpHandlers>
			<add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
		</httpHandlers>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="wuftuser@intel.com">
				<network host="smtpauth.intel.com" port="587" defaultCredentials="false" userName="sys_wuft@intel.com" password="55whdx12edw13admin$55" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
	<applicationSettings>
		<WUFT.NET.Properties.Settings>
			<setting name="WUFT_NET_WorkerService_WorkerService" serializeAs="String">
				<value>http://isewebservices.intel.com/WorkerService.asmx</value>
			</setting>
		</WUFT.NET.Properties.Settings>
	</applicationSettings>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483644" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
		<!-- 
          For more information on how to configure Glimpse, please visit http://getglimpse.com/Help/Configuration
          or access {your site}/Glimpse.axd for even more details and a Configuration Tool to support you. 
      -->
	</glimpse>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
		</modules>
		<handlers>
			<add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
		</handlers>
	</system.webServer>
</configuration>